/*variables*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*landing page*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#container {
  background: -webkit-gradient(linear, left top, right top, from(#eba7c6), to(#db8cbf));
  background: linear-gradient(90deg, #eba7c6 0%, #db8cbf 100%);
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content {
  width: 74%;
  height: 80%;
  border-radius: 25px;
  background: #fff;
  /*left side content menu*/
}

.content .menu {
  float: left;
  height: 100%;
  width: 110px;
  background: #272627;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .menu .menu__element {
  height: calc(100% / 3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8a898a;
}

.content .menu .menu__element img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.content .menu .menu__element .fas {
  padding: 25px 0;
  font-size: 25px;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.content .menu .menu__element .fas:hover {
  color: #fff;
}

.content .menu .menu__element--icons {
  height: 45% !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .content__middleContent {
  float: left;
  height: 100%;
  width: calc(100% - 110px - 34%);
  /*main view top 'menu'*/
  /*main view chart*/
}

.content .content__middleContent .middleContent__menu {
  height: 50%;
  width: 100%;
  font-family: "Heebo";
  position: relative;
}

.content .content__middleContent .middleContent__menu .middleContent__content {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 82%;
}

.content .content__middleContent .middleContent__menu .middleContent__content .middleContent__time {
  width: 100%;
  height: 30px;
  color: #888;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .content__middleContent .middleContent__menu .middleContent__content .middleContent__time .middleContent__wmy .middleContent__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.content .content__middleContent .middleContent__menu .middleContent__content .middleContent__time .middleContent__wmy .middleContent__list .middleContent__listItem {
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.content .content__middleContent .middleContent__menu .middleContent__content .middleContent__time .middleContent__wmy .middleContent__list .middleContent__listItem:hover {
  color: #333;
}

.content .content__middleContent .middleContent__menu .middleContent__content .middleContent__time .middleContent__wmy .middleContent__list .middleContent__listItem--month {
  background: #333;
  color: #fff !important;
  border-radius: 10px;
}

.content .content__middleContent .middleContent__menu .middleContent__content .middleContent__time .middleContent__wmy .middleContent__list .middleContent__listItem--month:hover {
  background: #555;
}

.content .content__middleContent .middleContent__menu .middleContent__content .middleContent__menuContent {
  width: 100%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .content__middleContent .middleContent__menu .middleContent__content .middleContent__menuContent .middleContent__menuElement {
  width: calc(100% / 3);
  height: 200px;
  border-radius: 20px;
  color: #fff;
  position: relative;
}

.content .content__middleContent .middleContent__menu .middleContent__content .middleContent__menuContent .middleContent__menuElement--first {
  background: linear-gradient(45deg, #5e70c2 0%, #d2def9 100%);
  margin-right: 20px;
}

.content .content__middleContent .middleContent__menu .middleContent__content .middleContent__menuContent .middleContent__menuElement--second {
  background: linear-gradient(45deg, #5791c4 0%, #ccf5f5 100%);
}

.content .content__middleContent .middleContent__menu .middleContent__content .middleContent__menuContent .middleContent__menuElement--third {
  background: linear-gradient(45deg, #c66bb7 0%, #ffcdcd 100%);
  margin-left: 20px;
}

.content .content__middleContent .middleContent__menu .middleContent__content .middleContent__menuContent .middleContent__menuElement .middleContent__menuElementText {
  padding: 20px;
}

.content .content__middleContent .middleContent__menu .middleContent__content .middleContent__menuContent .middleContent__menuElement h5 {
  font-weight: 700;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
}

.content .content__middleContent .middleContent__menu .middleContent__content .middleContent__menuContent .middleContent__menuElement h6 {
  font-weight: 700;
  position: absolute;
  bottom: 24px;
  right: 20px;
  font-size: 16px;
}

.content .content__middleContent .middleContent__chart {
  height: 50%;
  width: 100%;
  position: relative;
  font-family: "Heebo";
}

.content .content__middleContent .middleContent__chart .middleContent__chartContent {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 100%;
}

.content .content__middleContent .middleContent__chart .middleContent__chartContent #myChart {
  width: 100%;
  height: 290px !important;
  position: absolute;
  bottom: 50px;
}

.content .content__rightContent {
  float: right;
  width: 34%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*right view*/
}

.content .content__rightContent .rightContent__top {
  height: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .content__rightContent .rightContent__top #rightContent__topImage {
  width: 280px;
  border-radius: 20px;
}

.content .content__rightContent .rightContent__bottom {
  height: 45%;
  width: 280px;
  margin: 0 auto;
  font-family: "Heebo";
}

.content .content__rightContent .rightContent__bottom .rightContent__titleText {
  font-weight: 400;
  color: #888;
}

.content .content__rightContent .rightContent__bottom .rightContent__sellersContainer {
  height: 74%;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content .content__rightContent .rightContent__bottom .rightContent__sellersContainer .rightContent__sellersElement {
  height: calc((100% / 3) - 24px);
  margin: 12px 0;
  background: #f0eff1;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content .content__rightContent .rightContent__bottom .rightContent__sellersContainer .rightContent__sellersElement--best {
  background: #272627;
  color: #fff;
}

.content .content__rightContent .rightContent__bottom .rightContent__sellersContainer .rightContent__sellersElement .rightContent__sellersElementItems {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .content__rightContent .rightContent__bottom .rightContent__sellersContainer .rightContent__sellersElement .rightContent__sellersElementItems--rate {
  color: #009c00;
}

.content .content__rightContent .rightContent__bottom .rightContent__sellersContainer .rightContent__sellersElement .rightContent__sellersElementItems--rate i {
  margin-top: 5px;
}

.content .content__rightContent .rightContent__bottom .rightContent__sellersContainer .rightContent__sellersElement .rightContent__sellersElementItems img {
  border-radius: 10px;
  height: 30px;
  width: 30px;
}

.content .content__rightContent .rightContent__bottom .rightContent__sellersContainer .rightContent__sellersElement .rightContent__sellersElementItems p {
  font-size: 12px;
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */