.middleContent__menu {
    height: 50%;
    width: 100%;
    font-family: $font1;
    position: relative;
    
    .middleContent__content {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 90%;
        height: 75%;

        #middleContent__clock {
            width: 100%;
            height: 30px;
            color: #888;
        }
    }
}