* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    background: $mainBackgroundColor;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 74%;
    height: 80%;
    border-radius: 25px;
    background: $contentBackgroundColor;

    /*left side content menu*/
    @import '_leftMenu';

    .content__middleContent {
        float: left;
        height: 100%;
        width: calc(100% - 110px - 34%);
        
        /*main view top 'menu'*/
        @import '_mainViewMenu';

        /*main view chart*/
        @import '_mainViewChart';
    }

    .content__rightContent {
        float: right;
        width: 34%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
        /*right view*/
        @import '_rightView';
    }
}







